<div class="card">
  <table class="table table-hover table-dark">
    <thead>
    <tr>
      <th class="nom" scope="col">Nom</th>
      <th class="theme" scope="col">Theme</th>
      <th class="nbQuestions" scope="col">Nombre de questions</th>
    </tr>
    </thead>
    <tbody *ngFor="let quiz of quizList ">
    <tr [ngStyle]="{'background-color': quiz.id === quizIdSelected ? '#4a7d7b' : ''}" (click)="rowSelected(quiz);" >
      <td>{{quiz.name}}</td>
      <td>{{quiz.theme}}</td>
      <td class="nbQuestions">{{quiz.questions.length}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="quizList && quizPlayed">
  <a routerLink="/play/{{quizPlayed.id}}"><button class="btn btn-primary" >Jouer</button></a>
</div>

