<app-header></app-header>
<main class="flex-container" role="main" >
  <section id="main-section">
<!--<div class="edit_quiz" *ngIf="!quiz">
  <div class="spinner-border" style="color: blue" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
-->
    <h1> {{ quiz.name }} </h1>
    <section id="liste-des-questions" *ngIf="quiz">
      <app-question-list [quiz]="quiz" ></app-question-list>
    </section>
      <button class="btn btn-primary" (click)="goBack()">go back</button>
  </section>
</main>


<!-- <app-header></app-header>
<main class="flex-container" role="main" >
  <section id="main-section" *ngIf="!quiz">
    <section class="spinner-border" style="color: blue" role="status">
      <span class="sr-only">Loading...</span>
    </section>
    <section *ngIf="quiz">
      <h1> {{ quiz.name }} </h1>
      <app-question-list [quiz]="quiz" ></app-question-list>
      <button class="btn btn-primary" (click)="goBack()">retour à mes quiz</button>
    </section>
  </section>
</main>
-->
