<div class="card">
  <h2>Créer un nouveau Quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
     Nom du Quiz <br>
      <input class="form-control" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label for="theme">
      Theme<br>
      <select name="theme-field" id="theme" [formControlName]="'theme'">
        <option *ngFor="let currentTheme of THEME_LIST" [value]="currentTheme">
          {{currentTheme}}
        </option>
      </select>
    </label>
    <br>
    <button type="submit" class="btn btn-primary" (click)="addQuiz()">Créer le Quiz</button>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
