<app-header></app-header>
<main class="flex-container" role="main" >
<section id="main-section" >
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
      <input class="form-control" type="text" id="name" [formControlName]="'name'" placeholder="Nom du Quiz">
    </label>
    <br>
    <label for="theme" >
      <select name="theme-field" id="theme" [formControlName]="'theme'" >
        <option value="">Thème</option>
        <option *ngFor="let currentTheme of THEME_LIST" [value]="currentTheme">
          {{currentTheme}}
        </option>
      </select>
    </label>
    <br>
    <div class="button">
       <a routerLink="/modif-quiz">
        <button type="submit" class="btn btn-primary" (click)="addQuiz()">Créer le Quiz</button>
       </a>
    </div>
  </form>
</section>
</main>


<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
