<app-header></app-header>

<main class="flex-container" role="main" >
  <section id="choixJoueur">
  <form [formGroup]="playerForm">
    <h5>1. Choix du joueur</h5>
    <label>
    <select formControlName="id" >
      <option></option>
      <option [value]="player.id" *ngFor="let player of playerList" >
        {{ player.name}} {{ player.surname}}
      </option>
    </select>
    </label>
  </form>
  <a routerLink="/select-quiz-player/createNewPlayer"><button class="btn btn-primary" id="nouveauJoueur" >Nouveau joueur</button></a>
  </section>


  <section id="choixQuiz">
    <h5>2. Choix du quiz</h5>
  <table class="table table-hover table-dark">
    <thead>
    <tr>
      <th class="nom" scope="col">Nom</th>
      <th class="theme" scope="col">Theme</th>
      <th class="nbQuestions" scope="col">Nombre de questions</th>
      <th class="ajouterQuiz" scope="col"><a routerLink="/gestion"><button class="btn btn-primary" >+</button></a></th>
    </tr>
    </thead>
    <tbody *ngFor="let quiz of quizList ">
    <tr *ngIf="quiz.questions.length > 0" [ngStyle]="{'background-color': quiz.id === quizIdSelected ? '#4a7d7b' : ''}" (click)="rowSelected(quiz);" >
      <td>{{quiz.name}}</td>
      <td>{{quiz.theme}}</td>
      <td class="nbQuestions">{{quiz.questions.length}}</td>
      <td><a routerLink="/edit-quiz/{{quiz.id}}"><button class="btn btn-primary" >modifier</button></a></td>
    </tr>
    </tbody>
  </table>
    <footer>
    <button *ngIf="quizIdSelected && playerForm.getRawValue().id"class="btn btn-primary" (click)="createQuizGame()">Lancer le Quiz</button>
    </footer>
  </section>

</main>
