@import './styles/variables.scss';

/* You can add global styles to this file, and also import other style files */
html {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

body {

  background-color: white;
  //background-image: url("app/images/background-image.png");
  //background-size: 1920px 1080px;
  //background-position: revert;
  //background-repeat: repeat;

}

.btn-primary{
  border-radius: 40px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
