<section id="question-section">
  <div class="header" *ngIf="question">
    <h4> Question n° {{ question.numero }} : {{ question.label }}</h4>
    <div class="answer-form" *ngIf="question.answers.length < 4">
      <app-answer-form [question]="question"></app-answer-form>
    </div>
    <div class="alert-nb-max-answer" *ngIf="question.answers.length >= 4">
      <p> Le nombre maximum de réponse pour cette question est atteint.</p>
    </div>
  </div>
  <app-answer-list [question]="question" ></app-answer-list>
  <section>
  <button class="btn btn-primary" (click)="deleteQuestion()">Supprimer cette question</button>
  </section>
</section>
