.quiz-list {
  display: flex;
  justify-content: space-around;
}

.mes-quizz{
  background: orangered;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.quiz-form{
  background: yellowgreen;
}
