@import '../../styles/card.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 700px;
}

.card {
  width: 500px;
  height: 500px;
  margin: auto;
}

.card-body {
  text-align: center;
}
